@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
        @await Component.InvokeAsync("_LayoutSidebarComponentPartial")
        <div class="main-panel">
            @RenderBody() <!--Bu sayfaya bağlı olarak gelecek olan sayfalar, sayfamızın tam olarak bu kısmında yer alıyor olacak.-->
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="/Default/Index">
									MyPortfolio
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://support.microsoft.com/tr-tr/topic/-net-6-0-g%C3%BCncelle%C5%9Ftirmesi-b85603d0-00d5-4aa4-adac-b045322d35fc">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						@DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by <a href="https://learn.microsoft.com/tr-tr/aspnet/core/release-notes/aspnetcore-6.0?view=aspnetcore-8.0">Licanse</a>
					</div>
				</div>
			</footer>
        </div>
    </div>
    <
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")
<
</html>