@model List<MyPortfolio.DAL.Entities.Feature>
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://r.resimlink.com/zU1T26Q.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>
    @foreach (var item in Model)
    {
        <div class="home-content">

            <div class="row home-content__main">

                <h3>@item.Title</h3>

                <h1>
                  @item.FeatureDescription
                </h1>

                <div class="home-content__buttons">
                    <a href="/Default/Index/#works" class="smoothscroll btn btn--stroke">
                        Son Projelerim
                    </a>
                    <a href="/Default/Index/#about" class="smoothscroll btn btn--stroke">
                        Hakkımda
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Aşağı İn</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->
    }
    

    <ul class="home-social">
        <li>
            <a href="https://x.com/?lang=trin"><i class="im im-twitter" aria-hidden="true"></i><span>Twitter</span></a>
        </li>
        <li>
            <a href="https://www.instagram.com/"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
        </li>
        <li>
            <a href="https://auth.services.adobe.com/tr_TR/index.html?callback=https%3A%2F%2Fims-na1.adobelogin.com%2Fims%2Fadobeid%2FBehanceWebSusi1%2FAdobeID%2Ftoken%3Fredirect_uri%3Dhttps%253A%252F%252Fwww.behance.net%252Fkaydolkur4fcc%253Fisa0%253D1%2523old_hash%253D%2526from_ims%253Dtrue%2526client_id%253DBehanceWebSusi1%2526api%253Dauthorize%2526scope%253DAdobeID%252Copenid%252Cgnav%252Csao.cce_private%252Ccreative_cloud%252Ccreative_sdk%252Cbe.pro2.external_client%252Cadditional_info.roles%26state%3D%257B%2522ac%2522%253A%2522behance.net%2522%252C%2522csrf%2522%253A%25220795bce6-d85e-48c5-bcc7-1bdba2739bef%2522%252C%2522context%2522%253A%257B%2522intent%2522%253A%2522signIn%2522%257D%252C%2522jslibver%2522%253A%2522v2-v0.45.0-8-gd14e654%2522%252C%2522nonce%2522%253A%25222704691726408182%2522%257D%26code_challenge_method%3Dplain%26use_ms_for_expiry%3Dtrue&client_id=BehanceWebSusi1&scope=AdobeID%2Copenid%2Cgnav%2Csao.cce_private%2Ccreative_cloud%2Ccreative_sdk%2Cbe.pro2.external_client%2Cadditional_info.roles&state=%7B%22ac%22%3A%22behance.net%22%2C%22csrf%22%3A%220795bce6-d85e-48c5-bcc7-1bdba2739bef%22%2C%22context%22%3A%7B%22intent%22%3A%22signIn%22%7D%2C%22jslibver%22%3A%22v2-v0.45.0-8-gd14e654%22%2C%22nonce%22%3A%222704691726408182%22%7D&relay=3271520a-f4cf-45fc-a5e9-491eeaeb7834&locale=tr_TR&flow_type=token&dctx_id=bhnc_22989526-955d-49e3-9a7d-f093e8f3dbf5&idp_flow_type=login&s_p=google%2Cfacebook%2Capple%2Cmicrosoft%2Cline%2Ckakao&response_type=token&code_challenge_method=plain&redirect_uri=https%3A%2F%2Fwww.behance.net%2Fkaydolkur4fcc%3Fisa0%3D1%23old_hash%3D%26from_ims%3Dtrue%26client_id%3DBehanceWebSusi1%26api%3Dauthorize%26scope%3DAdobeID%2Copenid%2Cgnav%2Csao.cce_private%2Ccreative_cloud%2Ccreative_sdk%2Cbe.pro2.external_client%2Cadditional_info.roles&use_ms_for_expiry=true#/"><i class="im im-behance" aria-hidden="true"></i><span>Behance</span></a>
        </li>
    </ul>
    <!-- end home-social -->

</section>